@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.card {
    margin: 5px;
}

/* Overall layout */
#contentContainer {
    display: flex;
    flex-direction: row;
}
#sidebar {
    width: 220px;
    max-width: 33vw;
    background-color: #F5B28D;
    height: 100vh;
    z-index: 3;
}
#content {
    width: 100%;
    background-color: #FFFAEE;
}

/* Styling for sidebar */
.sidebarLogo {
    padding: 16px;

}
.sidebarLogo img {
    width: 100%;
    border-radius: 25px;
}

/* Normal menu item */
.sidebarItem {
    display: flex;
    padding: 16px 0;
    width: 100%;
    justify-content: center;
    font-size: 32px;
    color: #FFFAEE;
    transition: background-color 0.5s ease;
}
.sidebarItem:hover {
    background-color: #F0A073;
    color: #FFFAEE;
}

/* Active menu item */
.isActive {
    background-color: #FFFAEE;
    color: #757575 !important;
}
.isActive:hover {
    background-color: #FFFAEE;
}

/* Styling for Navbar */
#navbar {
    display: flex;
    height: 75px;
    background-color: #E26B28;
    z-index: 1;
    padding: 12px 32px;
    align-items: center;
}
.searchWrapper {
    width: 100%;
}
.searchBar {
    width: 100%;
}